
  footer{
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: #151B36;
    margin-top: 30px;
  }
  .redes{
    position: absolute;
    left: 10%;
   top: 90%;
    width: 15%;
    height: 10%;
    display: flex;

  }
  .redes img{
    width: 100%;
    height: 100%;
  }

  
  .content{
    width: 100%;
    height: 80%;
    margin: auto;
    
  }
 
  .logito{
    top: 10%;
    position: absolute;
    width: 5%;
    height: 20%;
    left: 10%;
  }
  .logito img{
    width: 85%;
    height: 90%;
  }
 
  .bx {
    font-size: 200%;
  }
   .bottom-details{
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background-color: #14182b;
  }
 .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
  }
  .ayuda{
    position: absolute;
    top: 40%;
    left: 10%;
  
  }
  .ayuda a{
    color: white;
  }
 .info{
  position: absolute;
  left: 40%;
  height: 100%;
  top: 10%;
 }
 .contacto  {
  top: 10%;
  display: flex;
  flex-direction: column;
width: 30%;
position: absolute;
left: 70%;
height: 100%;

 }
 .contacto  img{
  width: 10%;
  height: 50%;
  background-color: #151B36;
 }
 .contacto .llama{
position: absolute;
top: 20%;
  display: flex;
 }
 .contacto .mensa{
  display: flex;
  position: absolute;
top: 40%;
 }
 .contacto .ubi{
  position: absolute;
top: 60%;
  display: flex;
 }

 .content .redes i {
  color: #151B36;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
 }

 .content .redes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  top: 85%;
 }

 .content .redes a{
  text-decoration: none;
 }



  